<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Makeup Products</title>
    <link  rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link   rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/products.controller.js" th:src="@{app/products.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="ProductsController as vm">


 <div class="row">
<div class="col-lg-offset-2 col-lg-8">
    <!-- Get all bookings or only affordable ones -->
    <div class="btn-group" role="group">
        <button  id="all_button" ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
        <button  id="less_button" ng-click="vm.getAffordable()" type="button" class="btn btn-default">Less than</button>
        <label>
            <input type="text" class="btn btn-default" th:id="affordablePrice"/>
        </label>
    </div>
    <table class="table">
        <thread>
            <tr>
                <th>ID</th>
                <th>Produs</th>
                <th>Numarul produselor</th>
                <th>Pret</th>

                <th style="width: 90px"></th>
            </tr>
        </thread>
        <tbody>

        </tbody>
        <tr ng-repeat="product in vm.products">
            <td>{{product.id}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.nrOfProd}}</td>
            <td>{{product.priceProduct}}</td>

            <td>
                <button id="delete_button" class="btn btn-danger" ng-click="vm.deleteProducts(product.id)">Delete</button>
            </td>

        </tr>
    </table>

</div>
</div>

<footer class="footer" style="position: absolute ;bottom:0">
    <div class ="container">
        <p th:text="${#dates.format(datetime,'dd MMM yyyy  HH:mm')}" class="text-muted">Page was rendered today</p>
    </div>
</footer>
</body>
</html>